/*
  All-around stylesheet
  Last edited: 01/13/2026
  Last commit: Table
*/
/* The body has Arial-esc text */
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Headings are centered */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
/* The navigation list is arranged vertically with no left indent */
nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
/* The navigation list items are centered and spaced out */
nav ul li {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Figures will be centered */
figure {
  text-align: center;
}
/* Figure captions are italicised and slightly translucent */
figcaption {
  font-style: italic;
  opacity: 0.75;
}
table, th {
  border: 1px solid black;
  padding: 5px;
}
table {
  text-align: center;
}
td {
  padding: 5px;
}
/* 
  Elements (typically spans) marked as "code" will be given a 
  static-width fontface, a typical font size, a light-gray
  background colour, a slight perimeter curve, and a nullification
  of any border.
*/
.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: lightgray;
  border-radius: 5px;
  border: 0px;
}
/* Any fill-in-the-blank test question will be given a set width */
.test-question {
  display: block;
  width: 500px;
  margin: 0;
  border-radius: 0px;
}
/* Fix the width on textareas using "test-question" */
textarea.test-question {
  width: 493px;
  height: 18px;
  resize: none;
  background-color: rgb(245, 245, 245);
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
}
/*
  Elements (typically anchors) marked as "learn-more" will
  be centered, italicised, and given a blue text colour
*/
.learn-more {
  display: block;
  text-align: center;
  font-style: italic;
  color: blue;
}
/* "Learn-more" elements will become red when clicked */
.learn-more:active {
  color: red;
}
/* 
  Elements (typically paragraphs) marked as "brief" will
  will be given horizontal spacing
*/
.brief {
  margin-left: 5vw;
  margin-right: 5vw;
}