/*
  All-around stylesheet
  Last edited: 01/12/2026
  Last commit: index.html progress - A2
*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
nav ul li {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.code {
  font-family:'Courier New', Courier, monospace;
  background-color: lightgray;
  border-radius: 5px;
}
.learn-more {
  display: block;
  text-align: center;
  font-style: italic;
  color: blue;
}
.learn-more:active {
  color: red;
}
.brief {
  margin-left: 5vw;
  margin-right: 5vw;
}